{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h3>Tasks list</h3>
        </div>
        <div class="col-md-4">
            <a class="btn btn-raised btn-primary pull-right" href="{{ path('task_new') }}">Create a new task</a>
        </div>
    </div>

    {% if q is defined and q %}
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ 'search.results.for'|trans }}</strong>
            {{ q }}
        </div>
    {% endif %}

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Plannedwork</th>
            <th>Duedate</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="vertical-middle">
                <td><a class="btn btn-link btn-sm" href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a>
                </td>
                <td>{{ task.title }}</td>
                <td>{{ task.plannedWork }}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.user }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
