{% extends 'base.html.twig' %}

{% block body %}
    <h3>Task</h3>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-primary" href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
    <a class="btn btn-default" href="{{ path('task_index') }}">Back to the list</a>
    {{ form_end(form) }}

    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
